*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}